{% extends 'cart/base.html' %}
{% load compress humanize %}

{% block title %}Your Wishlist{% endblock %}

{% block content %}

<!-- Breadcrumb -->
{% include 'wishlist/breadcrumbs/wishlist-breadcrumb.html' %}

<!-- Page Content-->
<div class="container mb-5 pb-3">
  <div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
    <div class="row">
      <!-- Content-->
      <section class="col-lg-11 pt-2 pt-lg-4 pb-4 mb-3">
        <div class="pt-2 px-4 pr-lg-0 pl-xl-5">
          <!-- Header-->
          <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-3">
            <div class="py-1">
              <a class="btn btn-outline-accent btn-sm" href="{% url 'themes:theme-list' %}">
                <i class="czi-arrow-left mr-1 ml-n1"></i>Back to shopping
              </a>
            </div>
            {% with wishlist.themes.count as wishlist_count %}
              <div class="d-none d-sm-block py-1 font-size-ms">
                You have {{ wishlist_count }} template{{ wishlist_count|pluralize }} in your wishlist.
              </div>
            {% endwith %}
            <div class="py-1">
              <a class="btn btn-outline-danger btn-sm" href="{% url 'wishlist:wishlist-clear' %}">
                <i class="czi-close font-size-xs mr-1 ml-n1"></i>Clear wishlist
              </a>
            </div>
          </div>

          {% for theme in wishlist.themes.all %}
            <!-- Wishlist Item -->
            {% include 'wishlist/components/wishlist-item.html' with theme=theme %}
          {% empty %}
            <div class="empty-row">
              <p class="label">Your wishlist is currently empty.</p>
            </div>
          {% endfor %}
        </div>
      </section>
    </div>
  </div>
</div>

  <!-- Related products carousel-->
  {% if related_themes %}
    {% include 'themes/components/theme-related.html' with related_themes=related_themes %}
  {% endif %}
{% endblock %}

{% block extra-custom-js %}
  {{ block.super }}
  {% compress js inline %}
    <script>
      $(function() {
        $('.btn-wishlist-remove').click(function() {
          const url = $(this).data('url');
          window.location.href = url;
        });
      });
    </script>
  {% endcompress %}
{% endblock %}
