{% extends 'themes/base.html' %}
{% load humanize social_share %}

{% block title %}{{ theme.seo_title }}{% endblock %}

{% block meta-description %}
  <meta name="description" content="{{ theme.seo_description }}">
{% endblock %}

{% block meta-keywords %}
  <meta name="keywords" content="{{ theme.keywords }}">
{% endblock %}

{% block social-tags %}
  <!-- Facebook Open Graph Tags -->
  <meta property="og:url" content="{{ request.site.domain }}{{ theme.get_absolute_url }}">
  <meta property="og:title" content="{{ theme.seo_title }}">
  <meta property="og:image" content="{{ theme.photo.url }}">
  <meta property="og:image:alt" content="A thumbnail for {{ theme.title }}">

  <!-- Twitter Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ theme.photo.url }}">
  <meta property="twitter:image:alt" content="A thumbnail for {{ theme.title }}">
  <meta name="twitter:title" content="{{ theme.seo_title }}">
  <meta name="twitter:description" content="{{ theme.seo_description }}">
  <meta name="twitter:site" content="@ArtBootstrap">
{% endblock %}

{% block content %}

<!-- Breadcrumb -->
{% include 'themes/breadcrumbs/theme-detail-breadcrumb.html' with theme=theme %}

<!-- Page Content-->
<section class="container mb-3 pb-3 theme-detail">
  <div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
    <div class="row">
      <!-- Content-->
      <section class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-lg-3">
        <div class="pt-2 px-4 pr-lg-0 pl-xl-5">
          <!-- Preview -->
          <div class="cz-gallery">
            <a
              class="gallery-item rounded-lg mb-grid-gutter"
              href="{{ theme.preview_url|default:'#' }}"
              target="_blank" rel="noopener"
              aria-label="Preview theme"
              data-sub-html="&lt;h6 class=&quot;font-size-sm text-light&quot;&gt;Simple iPhone X Mockups&lt;/h6&gt;">
              <img src="{{ theme.photo.url }}" alt="{{ theme.seo_title }}"/>
              <span class="gallery-item-caption">Preview Theme</span>
            </a>
          </div>

          <!-- Wishlist + Sharing-->
          <div class="text-center py-1">
            <button
              data-slug="{{ theme.slug }}"
              class="btn btn-outline-accent btn-favorite"
              type="button">
              <i class="czi-heart font-size-lg mr-2"></i>Add to Favorite
            </button>
          </div>
        </div>
      </section>
      <!-- Sidebar-->
      <aside class="col-lg-4">
        <hr class="d-lg-none">
        <div class="cz-sidebar-static h-100 ml-auto border-left">
          <div class="accordion" id="licenses">
            <div class="card border-top-0 border-left-0 border-right-0">
              <div class="card-header d-flex justify-content-between align-items-center py-3 border-0">
                <div class="custom-control custom-radio">
                  <input class="custom-control-input" type="checkbox" checked disabled aria-hidden="true">
                  <label class="custom-control-label font-weight-medium text-dark">Extended license</label>
                </div>
                <p class="h5 mb-0 text-accent font-weight-normal">
                  {% if theme.is_free %}
                    Free
                  {% else %}
                    ${{ theme.price | intcomma }}
                  {% endif %}
                </p>
              </div>
              <div>
                <div class="card-body py-0 pb-2">
                  <ul class="list-unstyled font-size-sm">
                    <li class="d-flex align-items-center"><i class="czi-check-circle text-success mr-1"></i><span class="font-size-ms">Responsive Design</span></li>
                    <li class="d-flex align-items-center"><i class="czi-check-circle text-success mr-1"></i><span class="font-size-ms">Use for multiple projects</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          {% if theme.is_free %}
          <button
            type="button"
            data-url="{% url 'themes:free-download' theme.slug %}"
            class="btn btn-accent btn-block btn-shadow mt-4 btn-modal btn-download">
            <i class="czi-download font-size-lg mr-2"></i>Download
          </button>
          {% else %}
          <a
            href="{% url 'cart:cart-add' theme.slug %}"
            class="btn btn-primary btn-block btn-shadow mt-4">
            <i class="czi-cart font-size-lg mr-2"></i>Add to Cart
          </a>
          {% endif %}
          <div class="bg-secondary rounded p-3 mb-2 mt-4">
            <i class="czi-download h5 text-muted align-middle mb-0 mt-n1 mr-2"></i>
            {% if theme.download_count > 0 %}
              <span class="d-inline-block h6 mb-0 mr-1">{{ theme.download_count|intcomma }}</span>
            {% else %}
              <span class="d-inline-block h6 mb-0 mr-1">No</span>
            {% endif %}
            <span class="font-size-sm">Sales</span>
          </div>

          <div class="bg-secondary rounded p-3 mb-4">
            <i class="czi-bookmark h5 text-muted align-middle mb-0 mt-n1 mr-2"></i>
            <span class="font-size-sm">Multipurpose &amp; Corporate</span>
          </div>
          <ul class="list-unstyled font-size-sm">
            <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
              <span class="text-dark font-weight-medium">Version</span>
              <a class="product-meta" href="#">{{ theme.theme_version }}</a>
            </li>
            <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
              <span class="text-dark font-weight-medium">Bootstrap</span>
              <a class="product-meta" href="#">{{ theme.get_bootstrap_version_display }}</a>
            </li>
            <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
              <span class="text-dark font-weight-medium">Released</span>
              <span class="text-muted">{{ theme.created_at|date:'F d, Y' }}</span>
            </li>
          </ul>

          <!-- Social Media Icons -->
          <div class="mt-5 text-center">
            <i class="czi-share-alt font-size-lg align-middle text-muted mr-2"></i>
            {% post_to_facebook theme %}
            {% post_to_twitter theme.seo_title theme %}
            {% save_to_pinterest theme %}
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>

<!-- Product description -->
<section class="container mb-4 mb-lg-5">
  <!-- Nav tabs-->
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link p-4 active" href="#details" data-toggle="tab">Template details</a></li>
    <li class="nav-item"><a class="nav-link p-4" href="#technology" data-toggle="tab">Technology Stacks</a></li>
  </ul>
  <div class="tab-content pt-2">
    <!-- Product details tab-->
    <div class="tab-pane fade show active" id="details" role="tabpanel">
      <div class="row">
        <div class="col-lg-8">
          <p class="font-size-md">{{ theme.description }}</p>
          {% if theme.features.count > 0 %}
          <h3 class="h5 pt-2">Main features</h3>
          <ul class="font-size-md">
            {% for feature in theme.features.all %}
            <li>{{ feature.summary }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Reviews tab-->
    <div class="tab-pane fade" id="technology" role="tabpanel">
      <div class="row">
        <div class="col-lg-4">
          {% if theme.technologies.count > 0 %}
          <ul class="list-unstyled">
            {% for technology in theme.technologies.all %}
            <li class="d-flex align-items-center">
              <i class="czi-check-circle text-success mr-1"></i>
              <span class="ml-1">{{ technology.title }}</span>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="text-muted font-size-lg text-center my-3">
            <i class="czi-close-circle text-danger mr-1"></i> Not Available
          </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>

  <!-- Related products carousel-->
  {% if related_themes %}
    {% include 'themes/components/theme-related.html' with related_themes=related_themes %}
  {% endif %}
{% endblock %}

{% block modal %}
  {% include 'shared/components/modal-widget.html' with modal_id='downloadModal' %}
{% endblock %}
