{% load humanize %}

<div class="card product-card-alt">
  <div class="product-thumb">
    <button
      data-slug="{{ theme.slug }}"
      class="btn-wishlist btn-favorite btn-sm"
      type="button">
      <i class="czi-heart {% if theme in wishlist.themes.all %}czi-heart-active{% endif %}"></i>
    </button>
    <div class="product-card-actions">
      <a class="btn btn-light btn-icon btn-shadow font-size-base mx-2" href="{% url 'themes:theme-detail' theme.slug %}">
        <i class="czi-eye"></i>
      </a>
      <a
        href="{% url 'cart:cart-add' theme.slug %}"
        class="btn btn-light btn-icon btn-shadow font-size-base mx-2"
        type="button"><i class="czi-cart"></i></a>
    </div>
    <a class="product-thumb-overlay" href="{% url 'themes:theme-detail' theme.slug %}"></a>
    <img src="{{ theme.photo.url }}" alt="{{ theme.title }}">
  </div>
  <div class="card-body">
    <h3 class="product-title font-size-sm mb-2">
      <a href="{% url 'themes:theme-detail' theme.slug %}">
        {{ theme.title }} – {{ theme.subtitle }}
      </a>
    </h3>
    <div class="d-flex flex-wrap justify-content-between align-items-center">
      <div class="font-size-sm mr-2">
        <i class="czi-download text-muted mr-1"></i>
        {% if theme.download_count == 0 %}
          <span class="font-size-xs ml-1">No Sales</span>
        {% else %}
          {{ theme.download_count|intcomma }}<span class="font-size-xs ml-1">Sales</span>
        {% endif %}
      </div>
      <div class="bg-faded-accent text-accent rounded-sm py-1 px-2">${{ theme.price }}</div>
    </div>
  </div>
</div>

