.pagination .page-item.disabled a.page-link {
    border: none;
    color: #ccc;
}

.pagination .page-item.disabled:hover {
    cursor: not-allowed !important;
}


.pagination .page-item.disabled:hover a.page-link {
    background-color: transparent;
}

.empty-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 12em;
    width: 100%;
}

.empty-row > .label {
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    color: #ccc;
}

a.disabled,
a[disabled],
.btn.disabled,
.btn[disabled] {
    cursor: not-allowed !important;
}

.favorite-dot {
    top: 0.7rem !important;
    right: 0.5rem !important;
    width: 0.6rem !important;
    height: 0.6rem !important;
}

.bg-brown {
    background-color: #626473 !important;
}

.navbar-brand-logo {
    font-weight: 600 !important;
    letter-spacing: 1.2px !important;
}
