<div class="page-title-overlap bg-brown pt-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light flex-lg-nowrap justify-content-center justify-content-lg-start">
          <li class="breadcrumb-item">
            <a class="text-nowrap" href="{% url 'themes:home' %}"><i class="czi-home"></i>Home</a>
          </li>
          <li class="breadcrumb-item text-nowrap">
            <a href="{% url 'themes:category-theme-list' theme.category.slug %}">
              <i class="czi-folder"></i>{{ theme.category.title }}
            </a>
          </li>
          <li class="breadcrumb-item text-nowrap active" aria-current="page">{{ theme.title }}</li>
        </ol>
      </nav>
    </div>
    <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
      <h2 class="h3 text-light mb-0">
        {{ theme.title }} <span class="h4 text-light d-none d-md-inline-block">&mdash; {{ theme.subtitle }}</span>
      </h2>
    </div>
  </div>
</div>
