{% load humanize %}

<div class="media d-block d-sm-flex py-4 border-bottom">
  <a class="d-block position-relative mb-3 mb-sm-0 mr-sm-4 mx-auto" href="#" style="width: 12.5rem;">
    <img class="rounded-lg" src="{{ theme.photo.url }}" alt="{{ theme.title }}">
    <span class="close-floating check-floating" data-toggle="tooltip" title="Purchased">
      <i class="czi-check"></i>
    </span>
  </a>
  <div class="media-body text-center text-sm-left">
    <h3 class="h6 product-title mb-2">
      <a href="{% url 'themes:theme-detail' theme.slug %}">{{ theme.title }} &mdash; {{ theme.subtitle }}</a>
    </h3>
    <div class="text-accent">${{ theme.price|intcomma }}</div>
    <a
      href="{{ theme.file.url }}"
      class="btn btn-accent btn-sm mx-auto mx-sm-0 my-2 mt-lg-4"
      type="button">
      <i class="czi-download mr-1"></i>Download
    </a>
  </div>
</div>
