/**
* CSS Styles for `themes` app.
**/

.hero-section {
    background-image: url('../img/marketplace-hero.jpg');
}

a.nav-link-style.disabled:hover {
    cursor: not-allowed !important;
}

a.nav-link-style.disabled > span {
    color: #ccc;
}

#licenses > .card {
    border-radius: 0;
}

@media all and (max-width: 600px) {
    .theme-detail .preview-btn {
        display: block;
        width: 100%;
    }
}
